# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = squigglezworth
	email = squigglezworth@gmail.com
	signingKey = 6496110BE195AB10FD08EB7929B32F7AC95C6B1F
[init]
	defaultBranch = master
[core]
	editor = subl -w
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[diff]
	colorMoved = true
