# Playlist

song_columns_list_format = "(3)[]{} (40)[]{t|f} (20)[]{a} (20)[]{br}"

now_playing_prefix = "$5$b┃"
now_playing_suffix = "$9"

playlist_display_mode = "columns"
autocenter_mode = "no"
centered_cursor = "no"
cyclic_scrolling = "no"
mouse_list_scroll_whole_page = "no"


## song_list_format applies to song listing for Playlist Editor
song_list_format = "{$8$9}{[%l] >> }{%t }$R{%a - %b}"
#song_list_format = "$1$9%l$1$9 $1|$9 $2%a$9 $1|$9 $5%b$9 $R$1$9%t$1$9 $1|$9 $1%n$9"
# $0$8$8%l$0$8 $1|$7 $7%a$7 $1|$7 $6%t$1 $R $1%b$1"

## song_library_format refers to song listings in Media Library
song_library_format = "{%n > }{%t}|{%f}"

## Bars
song_status_format = "{%a - }{%t - }{%b}"
#"$8%t $1• $2%a $1•{ $5%b $1• }$7%y$1"
#progressbar_look = "||]"
progressbar_look = "─● "
#"-??"
titles_visibility = "no"
header_visibility = "yes"
statusbar_visibility = "yes"

# Browser
## Prefix for playlist files 
browser_playlist_prefix = "$2» $9 "
browser_display_mode = "columns" (classic/columns)

# Colors
discard_colors_if_item_is_selected = "yes"
header_window_color = "black"
volume_color = "246"
state_line_color = "233"
state_flags_color = "red"
main_window_color = "240"
color1 = "red"
color2 = "green"
main_window_highlight_color = "240"
progressbar_color = "red"
progressbar_elapsed_color = "13"
statusbar_color = "default"
active_column_color = "red"
visualizer_color = "cyan"

# Others
song_window_title_format = "MPD: {%a > }{%t}{ [%b{ Disc %d}]}|{%f}"
search_engine_display_mode = "columns" (classic/columns)
follow_now_playing_lyrics = "yes"
#display_screens_numbers_on_start = "no"
# vim: set ts=2 sw=2 tw=0 :